@import "../node_modules/bootstrap/scss/bootstrap";

$background: rgb(60, 90, 120);
$foreground-primary: white;
$foreground-secondary: #CCC;

$header-height: 3rem;
$footer-height: 2rem;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height * 2;
}

//= HEADER =======================================

header {
  height: $header-height;
  background-color: $background;
  color: $foreground-primary;
  font-size: 1.25rem;
  .title {
    margin-left: $grid-gutter-width / 2;
    opacity: 0.75;
  }
}

//= FOOTER =======================================

footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  background-color: $background;
  color: $foreground-primary;
  a {
    color: $foreground-secondary;
    &:hover {
      color: $foreground-primary;
    }
  }
}

//= TABS =========================================

$tab-padding: 0 ($grid-gutter-width / 2);

.tabs {
  padding-top: $grid-gutter-width;
  ul {
    margin: 0;
    padding: 0;
    border: solid 1px $background;
    font-size: 1.25rem;
    list-style: none;
  }
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  height: $header-height;
  cursor: pointer;
  a {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    line-height: $header-height;
    text-decoration: none;
  }
  .start {
    width: 100%;
    padding: $tab-padding;
  }
  .hover {
    width: 0%;
    height: 100%;
    background-color: $background;
    color: $foreground-primary;
    overflow: hidden;
    span {
      margin: $tab-padding;
    }
  }
  &:hover .hover {
    width: 100%;
    transition: width 0.5s ease-out;
  }
  &:not(:last-child) {
    border-bottom: solid 1px $background;
  }
}

//= CONTENT ======================================

.top {
  margin-top: $grid-gutter-width - 5px;
}

.entry {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #F5F5F5;
  border: solid 1px #D4D4D4;
  .description {
    margin-top: 0.25rem;
  }
  &:first-of-type {
    margin-top: 0.75rem;
  }
  &:last-of-type {
    margin-bottom: 1rem;
  }
}
