@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/type";

$background: rgb(60, 90, 120);
$foreground-primary: white;
$foreground-secondary: darken($foreground-primary, 12.5%);

$header-height: 3rem;
$footer-height: 2rem;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height * 2;
}

.italic {
  font-style: italic;
}

//= HEADER =======================================

header {
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $background;
  color: $foreground-primary;
  font-size: 1.25rem;
  .title {
    margin-left: $grid-gutter-width / 2;
    color: $foreground-secondary;
  }
}

//= FOOTER =======================================

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  padding-top: 0.125rem;
  background-color: $background;
  color: $foreground-primary;
  a {
    color: $foreground-secondary;
    &:hover {
      color: $foreground-primary;
    }
  }
  .separator {
    margin: 0 0.5rem;
  }
}

//= TABS =========================================

$tab-padding: 0 ($grid-gutter-width / 2);

.tabs {
  position: sticky;
  top: 0;
  padding-top: $grid-gutter-width;
  ul {
    margin: 0;
    padding: 0;
    border: solid 1px $background;
    font-size: 1.25rem;
    list-style: none;
  }
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  height: $header-height;
  cursor: pointer;
  a {
    position: absolute;
    top: 0;
    left: 0;
    color: $body-color;
    line-height: $header-height;
    text-decoration: none;
  }
  .hover {
    width: 0%;
    height: 100%;
    background-color: $background;
    color: $foreground-primary;
    overflow: hidden;
    span {
      margin: $tab-padding;
    }
  }
  .start {
    width: 100%;
    padding: $tab-padding;
  }
  &:hover .hover {
    width: 100%;
    transition: width 0.5s ease-out;
  }
  &:not(:last-child) {
    border-bottom: solid 1px $background;
  }
}

//= CONTENT ======================================

.top {
  margin-top: $grid-gutter-width - 5px;
}

.entry {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  background-color: map-get($grays, "100");
  border: solid 1px map-get($grays, "400");
  .description {
    margin: 0.2rem 0 0.15rem 0;
    padding-left: 1.25rem;
  }
  &:first-of-type {
    margin-top: 0.75rem;
  }
  &:last-of-type {
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(xs) {
    a {
      display: none;
    }
  }
}
